.root {
    -fx-dark-red-wine-colour: derive(#821D38, 30%);
    -fx-red-wine-colour: derive(-fx-dark-red-wine-colour, 30%);
}

.red-wine-rectangle {
    -fx-fill: -fx-red-wine-colour;
    -fx-arc-width: 100px; /* Rounded corners */
    -fx-arc-height: 100px;

    -fx-stroke: -fx-dark-red-wine-colour;
    -fx-stroke-width: 3px;
}