/*
 * This style sheets defines the search-screen-scroll-pane style class.
 */
.root {
    -fx-sssp-main-colour: derive(#EEEDC4, 30%);
}

/*
* A ScrollPane used to control the viewpoint of the wine information section of the Search Screen.
* Everything is transparent other than the thumb.
* ScrollBar styles are only defined for the vertical pseudo class as this ScrollPane has no horizontal ScrollBar.
*/
.search-screen-scroll-pane,
.search-screen-scroll-pane .viewport,
.search-screen-scroll-pane .scroll-bar:vertical,
.search-screen-scroll-pane .scroll-bar:vertical .increment-button,
.search-screen-scroll-pane .scroll-bar:vertical .decrement-button,
.search-screen-scroll-pane .scroll-bar:vertical .decrement-arrow,
.search-screen-scroll-pane .scroll-bar:vertical .increment-arrow,
.search-screen-scroll-pane .scroll-bar:vertical .track {
    -fx-background-color: transparent;
}

/*
 * Defines the thumb class of the vertical pseudo class of the scroll-bar class of the red-wine-scroll-pane class.
 * Sets the background-colour to a red/pink colour slightly darker than the background.
 */
.search-screen-scroll-pane .scroll-bar:vertical .thumb {
    -fx-background-color: -fx-sssp-main-colour;
}

.search-screen-scroll-pane .scroll-bar:vertical .decrement-arrow,
.search-screen-scroll-pane .scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-sssp-main-colour;
    -fx-scale-x: 1.5;
    -fx-scale-y: 1.5;
}
