.root {
    -fx-white-wine-colour: #EEEDC4;
    -fx-dark-white-wine-colour: derive(-fx-white-wine-colour, -30%);
}

.white-wine-rectangle {
    -fx-fill: -fx-white-wine-colour;
    -fx-arc-width: 50px; /* Rounded corners */
    -fx-arc-height: 50px;

    -fx-stroke: -fx-dark-white-wine-colour;
    -fx-stroke-width: 5px;

}