/*
 * This style sheet defines the white_red_wine_rectangle style class.
 */
.root {
    -fx-wwwr-body-colour: #F0F0F0; /* Off-white grey */
}

/*
 * Rectangle used behind the Winedy name on the Nav Bar.
 * Has a near white background with a black border (stroke) and rounded corners (arc).
 */
.white-white-wine-rectangle {
    -fx-fill: -fx-wwwr-body-colour;
    -fx-arc-width: 40px;
    -fx-arc-height: 40px;

    -fx-stroke: -fx-dark-white-wine-colour;
    -fx-stroke-width: 3px;
    -fx-stroke-type: outside;
}